$pri-color: rgb(190, 41, 236);
$pri-background-color: rgb(33, 21, 34);
$sec-background-color: rgb(102, 0, 102);
$sec-color: rgb(128, 0, 128);
$tri-color: rgb(239, 187, 255);
$tri-background-color: rgb(216, 150, 255);
$text-color: rgb(16, 15, 15);

// text
$header: 'Monoton', sans-serif;
$text: 'Poppins', sans-serif;

.extension-body {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 600px;
  font-family: $text;
  color: $tri-color;
  background-image: linear-gradient(
    60deg,
    $tri-color 10%,
    $pri-color 20%,
    $pri-background-color 75%
  );
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;

  .default-btn {
    width: 85px;
    height: 25px;
    padding: 2px;
    background: $pri-background-color;
    color: $tri-color;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      background: $tri-color;
      color: $pri-background-color;
    }
    &:focus {
      background: $pri-color;
      color: $pri-background-color;
      cursor: text;
    }
  }

  .leads-header {
    // margin-bottom: 25px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main-title {
      width: 100%;
      height: 50px;
      text-align: center;
      color: $tri-color;
      font-family: $header;
      letter-spacing: 1px;
      font-weight: 400;
    }
    .form {
      .input-des {
        all: unset;
        background-color: $tri-color;
        color: $pri-background-color;
        padding-left: 5px;
        width: 250px;
        height: 25px;
        border: none;
        border-radius: 5px;
      }
    }
    .categories-container {
      margin-top: 10px;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 2px;
      .input-box {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 375px;
        height: 35px;

        .categorie-input {
          all: unset;
          background-color: $tri-color;
          color: $pri-background-color;
          padding-left: 5px;
          width: 325px;
          height: 25px;
          border: none;
          border-radius: 5px;
        }
        #saveicon {
          text-align: center;
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }
  }
  .leads {
    //margin-bottom: 20px;
    width: 360px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    overflow-y: auto;
    .delete-all-btn {
      width: 75px;
      height: 30px;
      margin-bottom: 20px;
      padding: 2px;
      background: $pri-background-color;
      color: $tri-color;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: $tri-color;
        color: $pri-background-color;
      }
    }
    .leads-container {
      margin: 5px;
      padding-left: 5px;
      width: 340px;
      height: 85px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1px;
      background: $tri-color;
      color: $pri-background-color;
      border-radius: 5px;
      .textbox {
        margin-top: 5px;
        padding: 3px;
        width: 200px;
        height: 30px;
        text-align: left;
        font-size: 14px;
        font-family: $text;
        line-height: 16px;
        overflow: hidden;
      }
      .categorybox {
        margin-top: 5px;
        padding: 3px;
        width: 75px;
        height: 30px;
        text-align: right;
        font-size: 12px;
        font-family: $text;
        line-height: 16px;
        overflow: hidden;
      }
      .delete-item-btn {
        margin-top: 5px;
        padding: 3px;
        text-align: right;
        background: none;
        color: inherit;
        border: none;
        cursor: pointer;
        outline: inherit;
      }
      .url-box {
        margin-top: 5px;
        text-align: center;
        width: 100%;
        height: 30px;
        overflow: hidden;
        .link {
          line-height: 14px;
          font-size: 12px;
        }
      }
    }
  }
}

.footer {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
  .footer-title {
    color: $pri-background-color;
  }
  &:checked {
    color: $pri-color;
  }
  .link {
    text-decoration: none;
  }
}
